<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Packers News Mongo Scraper</title>

		<!-- jQuery -->
			<script src="https://code.jquery.com/jquery.js"></script>
		
		{{!-- popper.js --}}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

		<!-- Bootstrap -->
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		{{!-- JavaScript --}}
			<script src="/public/assets/js/articles.js"></script>

		<!-- Font Awesome -->
			<script src="https://kit.fontawesome.com/66fb9cbaef.js" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
			<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">

		{{!-- custom CSS  --}}
			<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
